---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
<h2>Presentations:</h2>

<ul>

    <li>&quot;Workshop in TensorFlow&quot;. Co-Lead Workshop Series. Women in Data Science at Google, Kirkland. October/November/December, 2019.</li>
    <li>&quot;Embedding Social Responsibility and Ethics into the Engineering Lifecycle&quot;. Panel. Grace Hopper Celebration 2019, Orlando, Florida. 2 &#8208; 4 October, 2019.</li>
    <li>&quot;Role of Computer Vision in Revolutionizing Computer-Assisted Surgery&quot;. Speaker, Grace Hopper Celebration 2019, Orlando, Florida. 2 October, 2019.</li>
    <li>&quot;Can we use computer vision for assistive surgery?&quot;. Speaker, PyLadies, Seattle, WA. 27 June, 2019.</li>
    <li>&quot;Role of Computer Vision in Revolutionizing Computer-Assisted Surgery&quot;. Speaker, HopperX1 Conference, Seattle, WA. 23 March, 2019.</li>
    <li>&quot;Women in Computer Science&quot;. Panel. Girls Who Code, Discovery Corps, Seattle, WA. 19 January, 2019.</li>
    <li>&quot;Workshop on Computer Vision using Python&quot;. Workshop. ACM Student Chapter, Kavaraipettai, Chennai. 04 January, 2019.</li>
    <li>&quot;A new Tech Consciousness: Social Responsibility and Ethics&quot;. Panel. Grace Hopper Celebration 2018, Houston, Texas. 26 &#8208; 28 September, 2018.</li>
    <li>&quot;Robotic and Neurosurgical Instrument Segmentation for Development of Intelligent Surgical Assistant&quot;. Poster Presentation. ACM Student Research competition at Grace Hopper Celebration 2018, Houston, Texas. 26 &#8208; 28 September, 2018.</li>
    <li>&quot;Social Responsibility and Ethics in Artificial Intelligence and Extended Reality&quot;. Birds of Feather Moderator. ACM Richard Tapia Celebration of Diversity in Computing, Orlando, Florida. 21 September, 2018.</li>
    <li>&quot;Isosurface visualization using augmented reality for improving tumor resection outcomes&quot;. Poster Presentation. ACM Student Research competition at Tapia 2018, Orlando, Florida. 19 &#8208; 20 September, 2018.</li>
    <li>&quot;Gesture-based Control of Display Devices for Surgical Procedures&quot;. Presentation. International Conference on Cyber-Physical Systems, Chennai, India. 21 April, 2018.</li>
    <li>&quot;Developing AR/VR Applications on Android&quot;. Workshop. ChickTech Seattle. 17 February, 2018.</li>
    <li>&quot;Get Your VR Game On!&quot;. Workshop. Pratyusha Engineering College, Chennai, Tamil Nadu, India. 20 December, 2017.</li>
    <li>&quot;Get Your VR Game On!&quot;. Workshop. Women Who Code, Chennai, Tamil Nadu, India. 16 December, 2017.</li>
    <li>&quot;Introduction to AR/VR Development Using Unity3D&quot;. Workshop. ACT-W Conference, Seattle, Washington. 23 September, 2017.</li>
    <li>&quot;Introduction to AR/VR Development Using Unity3D&quot;. Workshop. Women Who Code Tech Spark, Seattle, Washington. 09 September, 2017.</li>
    <li>&quot;Isosurface visualization using augmented reality for improving tumor resection outcomes&quot;. Poster Presentation. International Computer Vision Summer School, Sicily, Italy. 09&#8208;15 July, 2017.</li>
    <li>&quot;Surgical Assistant for Neurosurgical Procedures&quot;. Poster Presentation. Robotics and Automation for Humanitarian Applications Conference, Amrita University, Kollam, India. 18&#8208;20 December, 2016.</li>
    <li>&quot;Touch-free navigation system for assisting surgeons&quot;. Presentation. 6th Joint Workshop on Computer/Robot Assisted Surgery, Pisa, Italy. 13 September, 2016.</li>
    <li>&quot;Development of Virtual Reality Based Robotic Surgical Trainer for Patient-specific Deformable Anatomy&quot;. Presentation. 2nd International Conference of Robotics Society of India: Advances in Robotics, Goa, India. 4 July, 2015.</li>

</ul>

<h2> Invited Talks: </h2>

<ul>
<li>&quot;Surgical Robotics and Science Fiction&quot;. Guest Speaker, Pacific Science Center Seattle, WA. 2 November, 2019</li>
<li>&quot;Computer Vision and TensorFlow for Computer-Assisted Surgery&quot;. Guest Speaker, DevFest Seattle (Google), WA. 21 September, 2019</li>
<li>&quot;Machine Learning at Google I/O 2019&quot;. Guest Speaker. I/O 2019 Extended by Google Developers Group &#8208;Seattle. May 22, 2019.</li>
<li>&quot;TensorFlow Dev Summit 2018&quot;. Guest Speaker. TensorFlow Dev Summit 2018 Extended by Google Developers Group &#8208; Seattle. April 02, 2018.</li>
<li>&quot;Robotics in Neurosurgery&quot;. Guest Lecture. Seminar on Engineering Research for Transitioning Freshman, University of Washington, Seattle. 04 April, 2018.</li>
<li>&quot;Navigating the Balancing Act of Priorities and Time&quot;. Panel. 27th Women in Science and Engineering Conference, University of Washington, Seattle. 03 March, 2018.</li>
<li>&quot;Surgical Robotics: A Developing Country&apos;s Perspective&quot;. Guest Lecture. R.M.K Engineering College, Chennai, India. 28 December, 2016.</li>
<li>&quot;Surgical Robotics: A Developing Country&apos;s Perspective&quot;. Guest Lecture. R.M.K College of Engineering and Technology (CET), Chennai, India. 28 December, 2016.</li>
<li>&quot;Importance of Robotics in Today&apos;s World&quot;. Guest Lecture. R.M.K Engineering College, Chennai, India. 16 August, 2014.</li>
</ul>
<!--{% if site.talkmap_link == true %}-->

<!--<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>-->

<!--{% endif %}-->

<!--{% for post in site.talks reversed %}-->
<!--  {% include archive-single-talk.html %}-->
<!--{% endfor %}-->
