---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
Presentations:

* “Workshop in TensorFlow”. Co-Lead Workshop Series. Women in Data Science at Google, Kirkland. October/November/December, 2019.
* “Embedding Social Responsibility and Ethics into the Engineering Lifecycle”. Panel. Grace Hopper Celebration 2019, Orlando, Florida. 2 – 4 October, 2019.
* “Role of Computer Vision in Revolutionizing Computer-Assisted Surgery”. Speaker, Grace Hopper Celebration 2019, Orlando, Florida. 2 October, 2019.
* “Can we use computer vision for assistive surgery?”. Speaker, PyLadies, Seattle, WA. 27 June, 2019.
* “Role of Computer Vision in Revolutionizing Computer-Assisted Surgery”. Speaker, HopperX1 Conference, Seattle, WA. 23 March, 2019.
* “Women in Computer Science”. Panel. Girls Who Code, Discovery Corps, Seattle, WA. 19 January, 2019.
* “Workshop on Computer Vision using Python”. Workshop. ACM Student Chapter, Kavaraipettai, Chennai. 04 January, 2019.
* “A new Tech Consciousness: Social Responsibility and Ethics ”. Panel. Grace Hopper Celebration 2018, Houston, Texas. 26 – 28 September, 2018.
* “Robotic and Neurosurgical Instrument Segmentation for Development of Intelligent Surgical Assitant”. Poster Presentation. ACM Student Research competition at Grace Hopper Celebration 2018, Houston, Texas. 26 – 28 September, 2018.
* “Social Responsibility and Ethics in Artificial Intelligence and Extended Reality”. Birds of Feather Moderator. ACM Richard Tapia Celebration of Diversity in Computing, Orlando, Florida. 21 September, 2018.
* “Isosurface visualization using augmented reality for improving tumor resection outcomes”. Poster Presentation. ACM Student Research competition at Tapia 2018, Orlando, Florida. 19 – 20 September, 2018.
* “Gesture-based Control of Display Devices for Surgical Procedures”. Presentation. International Conference on Cyber-Physical Systems, Chennai, India. 21 April, 2018.
* “Developing AR/VR Applications on Android”. Workshop. ChickTech Seattle. 17 February, 2018.
* “Get Your VR Game On!”. Workshop. Pratyusha Engineering College, Chennai, Tamil Nadu, India. 20 December, 2017.
* “Get Your VR Game On!”. Workshop. Women Who Code, Chennai, Tamil Nadu, India. 16 December, 2017.
* “Introduction to AR/VR Development Using Unity3D”. Workshop. ACT-W Conference, Seattle, Washington. 23 September, 2017.
* “Introduction to AR/VR Development Using Unity3D”. Workshop. Women Who Code Tech Spark, Seattle, Washington. 09 September, 2017.
* “Isosurface visualization using augmented reality for improving tumor resection outcomes”. Poster Presentation. International Computer Vision Summer School, Sicily, Italy. 09-15 July, 2017.
* “Surgical Assistant for Neurosurgical Procedures”. Poster Presentation. Robotics and Automation for Humanitarian Applications Conference, Amrita University, Kollam, India. 18-20 December, 2016.
* “Touch-free navigation system for assisting surgeons”. Presentation. 6th Joint Workshop on Computer/Robot Assisted Surgery, Pisa, Italy. 13 September, 2016.
* “Development of Virtual Reality Based Robotic Surgical Trainer for Patient-specific Deformable Anatomy”. Presentation. 2nd International Conference of Robotics Society of India: Advances in Robotics, Goa, India. 4 July, 2015.

Invited Talks:

* “Surgical Robotics and Science Fiction”. Guest Speaker, Pacific Science Center Seattle, WA. 2 November, 2019
* “Computer Vision and TensorFlow for Computer-Assisted Surgery”. Guest Speaker, DevFest Seattle (Google), WA. 21 September, 2019
* “Machine Learning at Google I/O 2019”. Guest Speaker. I/O 2019 Extended by Google Developers Group – Seattle. May 22, 2019.
* “TensorFlow Dev Summit 2018”. Guest Speaker. TensorFlow Dev Summit 2018 Extended by Google Developers Group – Seattle. April 02, 2018.
* “Robotics in Neurosurgery”. Guest Lecture. Seminar on Engineering Research for Transitioning Freshman, University of Washington, Seattle. 04 April, 2018.
* “Navigating the Balancing Act of Priorities and Time”. Panel. 27th Women in Science and Engineering Conference, University of Washington, Seattle. 03 March, 2018.
* “Surgical Robotics: A Developing Country’s Perspective”. Guest Lecture. R.M.K Engineering College, Chennai, India. 28 December, 2016.
* “Surgical Robotics: A Developing Country’s Perspective”. Guest Lecture. R.M.K College of Engineering and Technology (CET), Chennai, India. 28 December, 2016.
* “Importance of Robotics in Today’s World”. Guest Lecture. R.M.K Engineering College, Chennai, India. 16 August, 2014.

<!--{% if site.talkmap_link == true %}-->

<!--<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>-->

<!--{% endif %}-->

<!--{% for post in site.talks reversed %}-->
<!--  {% include archive-single-talk.html %}-->
<!--{% endfor %}-->
